{deps, [
	{pal, ".*", {git, "git://github.com/manifest/pal.git", {branch, develop}}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {branch, master}}},
	{cowlib, ".*", {git, "git://github.com/ninenines/cowlib.git", {branch, master}}},
	{hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, master}}}
]}.
