%% test options
{cover_enabled, true}.

%% compiler options
{erl_opts, [
	debug_info, 
	fail_on_warning
]}.

%% deps dirs
{deps_dir, ["deps"]}.

%% deps list
{deps, [
	{hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, master}}},
	{uuid, ".*", {git, "git://github.com/okeuday/uuid.git", {branch, master}}},
	{pal, ".*", {git, "git://github.com/manifest/pal.git", {branch, develop}}}
]}.

