%% test options
{cover_enabled, true}.

%% compiler options
{erl_opts, [
	debug_info, 
	fail_on_warning
]}.

%% deps dirs
{deps_dir, ["deps"]}.

%% deps list
{deps, [
	{hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {tag, "0.13.0"}}},
	{uuid, ".*", {git, "git://github.com/okeuday/uuid.git", {tag, "v1.3.2"}}},
	{pal, ".*", {git, "git://github.com/manifest/pal.git", {tag, "v0.1.0"}}}
]}.

